body, html {
    height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #000;
    font-size: 1.2rem; 
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
h1.main-title {
	text-transform: inherit;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #000;
}
h3, h4, h5, h6 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 200;

}
@font-face {
    font-family: HighRise;
    src: url("./HighRise.otf") format("opentype");
}
.bh-font {
	font-family: HighRise;
}
.home-hero {
	width: 100%;
	min-height: 550px;
	position: relative;
	background: url('../../../../uploads/bhbg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home-options {
	border-top: 4px solid #DBB37B;
	background: radial-gradient(circle, rgba(96,35,16,1) 18%, rgba(1,1,1,1) 65%);
}
.geo-map {
	width: 100%;
	min-height: 400px;
	background: #020202;
	border-top: 4px solid #7A2A11;
}
.center-hv {
	padding: 200px 0;
  	text-align: center;
}
.c19 {
	height: 50px;
	background: #7A2A11;
	color: #fff;
	position: relative;
}
.footer {
	position: relative;
	width: 100%;
	min-height: 300px;
	background: url('../../../../uploads/bh-footer-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-img {
	position: absolute;
	margin-left: 3rem;
}
.copyright {
	font-size: 0.9rem;
	position: absolute;
	bottom: 0;
	right:25%;
    left:50%;
    margin-left:-150px;
}
